# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
